anonimize.html

{% extends "home.html" %}

{% block content %}
{% if success == 1 %}

<div id="tabla-container" class="table-responsive">
    <table class="table table-hover table-bordered shadow-lg">
        <thead>
            <tr>
                <th>Campo</th>
                <th>Valor actualizado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for field, value in dicom_series.items() %}
                <tr id="header_{{ field }}">
                    <td colspan="3" style="background-color: #e5e5e5; color: #002060;"><strong>{{ field }}</strong></td>
                </tr>
                <tr id="row_{{ field }}">
                    <td><strong>{{ value }}</strong></td>
                    <td>
                        <input type="text" class="form-control"
                            name="{{ unique_id }}_{{ field }}"
                            data-uid="{{ unique_id }}"
                            data-field="{{ field }}"
                            value="Anonimo" placeholder="Actualizar {{ field }}">

                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm shadow-sm" onclick="excluirCampo('{{ field }}')">
                            <i class="bi bi-x-circle"></i> Excluir
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Botones -->
<div id="botones-container">
    <button type="button" class="btn btn-secondary text-light btn-custom shadow-sm" onclick="guardarCambios()">
        <i class="bi bi-save"></i> Guardar cambios
    </button>
    <button type="button" class="btn btn-success text-light btn-custom shadow-sm" onclick="exportarDicom()">
        <i class="bi bi-download"></i> Exportar DICOM anonimizado
    </button>
</div>

<!-- Mensaje cuando se excluyen todos los atributos -->
<div id="mensaje-todos-excluidos" class="hidden">
    <h3 class="text-center mensaje-udg">Has excluido todos los atributos</h3>
</div>

{% else %}
    <h1 class="text-center text-light">Carga primero un archivo</h1>
{% endif %}

<script>
    function excluirCampo(field) {
        document.getElementById(`row_${field}`)?.remove();
        document.getElementById(`header_${field}`)?.remove();
        verificarCamposRestantes();
    }

    function verificarCamposRestantes() {
        if (document.querySelectorAll("#tabla-container tr").length === 0) {
            document.getElementById("botones-container").classList.add("hidden");
            document.getElementById("mensaje-todos-excluidos").classList.remove("hidden");
        }
    }

    function guardarCambios() {
        let cambiosAnonimizacion = {};
        document.querySelectorAll('input[type="text"]').forEach(input => {
        const field = input.dataset.field || input.name.split('_').slice(1).join('_');
        const nuevoValor = input.value.trim();
        if (nuevoValor !== "") {
            cambiosAnonimizacion[field] = nuevoValor;
        }
    });


        const token = document.querySelector('meta[name="csrf-token"]').content;
        fetch('/guardar_cambios', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': token
        },
        body: JSON.stringify({ cambios: cambiosAnonimizacion }),
        })

        .then(response => response.json())
        .then(() => alert("Cambios guardados correctamente."))
        .catch(() => alert("Hubo un error al guardar los cambios."));
    }

    function exportarDicom() {
        fetch('/exportar_dicom', { method: 'POST', headers: { 'Content-Type': 'application/json' } })
        .then(response => response.blob())
        .then(blob => {
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;
            a.download = 'archivos_anonimizados.zip';
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
            window.URL.revokeObjectURL(url);
        })
        .catch(() => alert("Hubo un error al exportar los archivos."));
    }
</script>
{% endblock %}