{% extends "home.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6"> <div class="card shadow-lg p-4 border-secondary text-center" style="background-color: var(--gris-panel);">
                
                <div class="mb-3">
                    <i class="bi bi-folder2-open icon-udg-gold" style="font-size: 3rem;"></i>
                </div>
                
                <h3 class="text-light fw-bold mb-2">Cargar Estudios DICOM</h3>
                
                <p class="text-instruction mb-4">
                    Selecciona la carpeta raíz que contiene las imágenes del paciente.
                </p>
                
                <form method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    
                    <div class="input-group shadow-sm mb-3">
                        <input type="file" name="folder"
                            class="form-control bg-dark text-light border-secondary"
                            id="inputGroupFile04" 
                            aria-describedby="inputGroupFileAddon04"
                            aria-label="Upload" 
                            webkitdirectory directory multiple required>
                        
                        <button class="btn btn-udg" type="submit" id="inputGroupFileAddon04">
                            <i class="bi bi-upload"></i> Subir
                        </button>
                    </div>
        
                    <div id="archivoSeleccionado" class="text-success-udg small" style="min-height: 24px;"></div>
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    const inputFile = document.querySelector('input[type="file"]');
    const nombreArchivo = document.getElementById('archivoSeleccionado');

    if (inputFile) {
        inputFile.addEventListener('change', () => {
            if (inputFile.files.length > 0) {
                const totalFiles = inputFile.files.length;
                nombreArchivo.innerHTML = `<i class="bi bi-check-circle-fill"></i> Se han seleccionado <strong>${totalFiles}</strong> archivos.`;
            } else {
                nombreArchivo.textContent = '';
            }
        });
    }
</script>
{% endblock %}