{% extends "home.html" %}

{% block content %}
    <h1>Resultados de los archivos DICOM</h1>
    <table border="1" class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Paciente</th>
                <th>Tipo</th>
                <th>Dimensiones</th>
            </tr>
        </thead>
        <tbody>
            {% for unique_id, info in dicom_series.items() %}
            <tr id="{{ unique_id }}" onclick="loadDicomMetadata('{{ unique_id }}')">
                <td>{{ info['paciente'] }}</td>
                <td>{{ info['tipo'] }}</td>
                <td>{{ info['dimensiones'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Div para mostrar la selección y el botón de aceptar -->
    <div id="selectionContainer" style="display: none; margin-top: 20px;">
        <p id="selectedText"></p>
        <button id="acceptButton" class="btn btn-light" onclick="acceptSelection()">Aceptar</button>
    </div>

    <script>
        let selectedId = null;  // Almacena el ID seleccionado


        function loadDicomMetadata(unique_id) {
            // Enviar una solicitud al servidor para cargar los metadatos
            fetch(`/loadDicomMetadata/${unique_id}`)
                .then(response => response.json())
                .then(data => {
                    console.log("Metadatos cargados:", data.metadata);

                    // Mostrar el texto con el ID del paciente
                    document.getElementById("selectedText").innerText = "Paciente seleccionado: " + data.metadata;
                    document.getElementById("selectionContainer").style.display = "block";
                    
                    // Guardar el ID seleccionado
                    selectedId = unique_id;

                    // Reiniciar el botón a "Aceptar"
                    let acceptButton = document.getElementById("acceptButton");
                    acceptButton.innerText = "Aceptar";
                    acceptButton.disabled = false; // Habilitar el botón en caso de otra selección
                })
                .catch(error => console.error("Error:", error));
        }

        function acceptSelection() {
            if (!selectedId) {
                alert("No se ha seleccionado ningún paciente.");
                return;
            }

            let acceptButton = document.getElementById("acceptButton");
            acceptButton.innerText = "Procesando...";
            acceptButton.disabled = true;

            // Enviar el ID seleccionado al servidor con POST
            fetch('/process_selected_dicom', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ unique_id: selectedId }) // Enviamos el ID como JSON
            })
            .then(response => response.json())
            .then(data => {
                console.log("Respuesta del servidor:", data);
                acceptButton.innerText = "Listo";  // Cambiar el texto del botón
            })
            .catch(error => {
                console.error("Error:", error);
                acceptButton.innerText = "Aceptar";  // Restaurar en caso de error
                acceptButton.disabled = false;
            });
        }
    </script>
{% endblock %}
